<div class="row">
  <!-- Adapter avec PAYS -->
  <div class="col-lg-4" *ngFor="let pays of listPays">
    <a class="link-pays" [routerLink]="['/pays', pays.id_Pays]">
      <div class="card card-pays" id="{{pays.id_pays}}">
        <img src="https://picsum.photos/200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{pays.nom_pays}}</h5>
          <p class="card-text">{{pays.desc_pays}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
