<div class="jumbotron">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 ">
        <div class="card m-3 ">
          <div class="card-body ">
            <form [formGroup]="form" id="formConnexion" (ngSubmit)="onSubmit()" >
              <div class="form-group">
                <label for="mailConnexion">Adresse mail :</label>
                <input type="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mailConnexion.errors }"
                       id="mailConnexion" name="mailConnexion" formControlName="mailConnexion" aria-describedby="emailHelp" placeholder="Mail..">
              </div>
              <div *ngIf="submitted && f.mailConnexion.errors.required">Entrer votre adresse mail</div>
              <div class="form-group">
                <label for="motDePasseConnexion">Mot de passe</label>
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.motDePasseConnexion.errors }"
                       id="motDePasseConnexion" name="motDePasseConnexion" formControlName="motDePasseConnexion" placeholder="Mot de passe..">
              </div>
              <!-- (f.motDePasseConnexion.dirty || f.motDePasseConnexion.touched) &&  VERIF si utilisateur a entré qqch -->
              <div *ngIf="f.motDePasseConnexion.errors.required "> Entrez votre mot de passe</div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>

              <div text-align-left>
                <br>Pas encore membre ? <br>
                <a routerLink="/inscription"> Inscrivez vous !</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
