<div class="jumbotron bg-accueil">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <app-section-titre-menu></app-section-titre-menu>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <app-section-presentation-site></app-section-presentation-site>

    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">

      <app-section-presentation-continent-card></app-section-presentation-continent-card>

  </div>
</div>

