<div class="container">
  <div *ngFor="let continent of continents" >
    <!-- getter de non continent, en Angular, les getters et setters sont appelés -->
    <p>
      {{continent.nom_continent}}
    </p>
  </div>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</div>
