<!--
    NAVBAR
    PAGE : Home, Mes plats, Liste déroulante continent, Search bar
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">WorldlyPleasureS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
          <i class="fas fa-globe-africa"></i> Continents
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu" >
          <!-- Pas enlever le ok ni le definir !! ça oblige à refresh -->
          <a *ngFor="let continent of continents" ngbDropdownItem href="#" (click)="ok()" [routerLink]="['/continent', continent.id_continent]">
            {{continent.nom_continent}}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/playlist"><i class="fas fa-utensils"></i> Mes plats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/connexion"><i class="fas fa-user-circle"></i> Connectez vous !</a>
      </li>

    </ul>
  </div>
</nav>
