<h1 class="display-4 titre-continent">Les Continents</h1>
<div class="row" *ngFor="let continent of continents; index as i; even as isEven; odd as isOdd">
  <a [routerLink]="['/continent', continent.id_continent]">
      <div *ngIf="isEven">
        <div col-lg-10>
          <div class="card bg-dark text-white continent-card" id="{{continent}}">
            <img src="https://picsum.photos/800/300" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">{{continent.nom_continent}}</h5>
              <p class="card-text">{{continent.description_continent}}</p>
              <p class="card-text">Last updated 3 mins ago</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isOdd">
        <div col-lg-10>
          <div class="card bg-dark text-white continent-card" >
            <img src="https://picsum.photos/800/300" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">{{continent.nom_continent}}</h5>
              <p class="card-text">{{continent.description_continent}}</p>
              <p class="card-text">Last updated 3 mins ago</p>
            </div>
          </div>
        </div>
      </div>
  </a>
</div>

