<div class="row">
  <div class="col-lg-12 titre-accueil text-align-center">
    <!-- Vu que c'est l'accueil, TITRE sera en dur !-->
    <!-- Afficher le nom du continent -->
    <h1 class="display-3">Bienvenue sur en {{pays.nom_pays}}</h1>
  </div>
</div>
