<!-- 1ère section ede la page d'accueil -->

  <div class="row">
    <div class="col-lg-12 titre-accueil text-align-center">
      <!-- Vu que c'est l'accueil, TITRE sera en dur !-->

      <h1 class="display-3">Bienvenue sur WorldlyPleasures</h1>
    </div>
  </div>


