<div class="row" *ngFor="let continent of continents; index as i; even as isEven; odd as isOdd">
    <div *ngIf="isEven">
      <div class="card bg-dark text-white continent-card" id="{{continent.nomContinent}}">
        <img src="https://picsum.photos/600/300" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">{{continent.nomContinent}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
    <div *ngIf="isOdd">
      <div class="card bg-dark text-white continent-card" >
        <img src="https://picsum.photos/600/300" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">{{continent.nomContinent}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
</div>
