<div class="jumbotron bg-accueil">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <app-section-titre-menu></app-section-titre-menu>
        <app-list-continent></app-list-continent>
      </div>
    </div>
  </div>
</div>



