<div class="jumbotron bg-accueil">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <app-section-titre-continent [continent]="continent"></app-section-titre-continent>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <app-section-presentation-continent [continent]="continent"></app-section-presentation-continent>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <app-section-titre-pays-card [listPays]="_listPays"></app-section-titre-pays-card>
    </div>
  </div>
</div>



