<div class="jumbotron">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 ">
        <div class="card m-3 ">
          <div class="card-body ">
            <form [formGroup]="form" id="formConnexion" (ngSubmit)="notifyNewTodo()" >

              <div class="form-group">
                <label for="nomInscription">Nom :</label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomInscription.errors }"
                       id="nomInscription" name="nomInscription" formControlName="nomInscription" placeholder="Votre nom..">
              </div>
              <div *ngIf="submitted && f.nomInscription.errors.required">Indiquez votre nom</div>

              <div class="form-group">
                <label for="prenomInscription">Prenom :</label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenomInscription.errors }"
                       id="prenomInscription" name="prenomInscription" formControlName="prenomInscription" placeholder="Votre prenom..">
              </div>
              <div *ngIf="submitted && f.prenomInscription.errors.required">Indiquez votre prenom</div>

              <div class="form-group">
                <label for="nomInscription">Nom :</label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomInscription.errors }"
                       id="pseudoInscription" name="nomInscription" formControlName="pseudoInscription" placeholder="Votre nom..">
              </div>
              <div *ngIf="submitted && f.nomInscription.errors.required">Indiquez votre pseudo</div>


              <div class="form-group">
                <label for="mailInscription">Adresse mail :</label>
                <input type="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mailInscription.errors }"
                       id="mailInscription" name="mailInscription" formControlName="mailInscription" aria-describedby="emailHelp" placeholder="Mail..">
              </div>
              <div *ngIf="submitted && f.mailInscription.errors.required">Entrer votre adresse mail</div>
              <div *ngIf="submitted && f.mailInscription.errors.email">Ceci n'est pas une adresse mail</div>
              <div class="form-group">
                <label for="motDePasseInscription">Mot de passe</label>
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.motDePasseInscription.errors }"
                       id="motDePasseInscription" name="motDePasseInscription" formControlName="motDePasseInscription" placeholder="Mot de passe..">
              </div>
              <!-- (f.motDePasseConnexion.dirty || f.motDePasseConnexion.touched) &&  VERIF si utilisateur a entré qqch -->
              <div *ngIf="submitted && f.motDePasseInscription.errors.required "> Entrez votre mot de passe</div>
              <div *ngIf="submitted && f.motDePasseInscription.errors.minLength"> Votre mot de passe doit contenir 8 caractères minimum</div>
              <button [disabled]="!form.valid">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
