<div class="col-lg-12">
  <h1>Pays</h1>
</div>

  <div class="col-md-6 float-left">
    <h1>Ingrédients (listBox)</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam atque aut dicta eaque eligendi expedita, explicabo hic necessitatibus quod, repellendus sapiente similique sit vero vitae. Aliquid dolore eaque expedita explicabo ipsa, libero quis suscipit veniam? Aspernatur distinctio doloremque harum labore maiores natus numquam officiis pariatur quam repudiandae suscipit tempora, vel. Accusantium architecto dicta harum ipsam, necessitatibus ut veniam. Accusantium architecto asperiores dolore, dolorem eaque explicabo ipsa itaque iure magnam numquam repellat sint. Beatae commodi consequatur corporis doloribus eos est harum, maxime mollitia reprehenderit ullam. Corporis dicta eaque, et, fugiat harum impedit iure magnam necessitatibus nihil odit repellat, sint veniam.</p>
  </div>
  <div class="col-md-6">
    <h1>Recette</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam architecto autem blanditiis debitis doloremque earum, enim facere facilis fugiat id in inventore mollitia nihil non nostrum numquam officiis quas quis quos reprehenderit ut voluptatum. A cupiditate dicta distinctio dolore doloribus eligendi, facere hic modi mollitia nostrum quam quisquam reiciendis, saepe, similique sint tempora ullam velit. Est ex minus natus obcaecati pariatur possimus quidem temporibus vel veniam. Aliquam consequuntur eum in ipsam ipsum maxime modi nam nihil nisi nobis numquam perferendis quaerat quas, rem sequi sit vero. Assumenda fugit tenetur veniam. Fuga numquam officiis ut. Accusantium alias commodi consequuntur corporis cumque eum excepturi exercitationem harum, in incidunt iusto mollitia nam nobis perspiciatis qui repellat repudiandae saepe, sapiente soluta suscipit tempore, ut velit veniam voluptatem voluptatum. Aliquid architecto autem commodi dolores eveniet maxime odio qui voluptatibus. Ab alias culpa dicta dolore doloribus eum explicabo, fuga maxime natus optio recusandae repellendus, sint, voluptas. At commodi consectetur consequuntur corporis fuga hic ipsum iusto laborum magni maxime minima nemo nesciunt perspiciatis praesentium rerum, sequi sunt suscipit, tenetur ut veniam? Consectetur cumque deleniti excepturi maxime nam, omnis, quasi quia quisquam quod ratione reiciendis, saepe sint suscipit ullam ut. Consequuntur distinctio dolorum esse facilis ipsa ipsam, libero modi officia optio perspiciatis placeat quia quidem quis quos rem sapiente soluta unde vel vero voluptas? Blanditiis culpa dignissimos, fugiat fugit in ipsam libero, magni molestiae nam officia quas recusandae, reiciendis rerum? Ad, alias aliquid amet atque commodi deleniti dolores ea eaque, eum facere harum illum itaque, placeat quis quo quos recusandae repellendus tenetur vero voluptatum? Commodi, distinctio error eveniet itaque quas quod vero? Aliquid, amet aperiam consequatur culpa delectus dicta dignissimos dolorum fugiat inventore necessitatibus neque nihil nulla odit placeat, possimus, quod quos repellat saepe. Animi commodi pariatur unde. Beatae eveniet in labore nostrum numquam quisquam ratione vero.</p>
  </div>



