<div class="jumbotron bg-accueil">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <app-section-titre-pays></app-section-titre-pays>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <app-section-presentation-pays></app-section-presentation-pays>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <app-section-presentation-plat></app-section-presentation-plat>
    </div>
  </div>
</div>

