/* You can add global styles to this file, and also import other style files */
/* IMPORT BOOTSTRAP + BOOTSWATCH */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* */
.bg-accueil {
  background: url("https://picsum.photos/seed/picsum/1000/1000") fixed center no-repeat;
  background-size: cover;
}
.jumbotron {
  border-radius: 0px;
  border-width : 0px;
}
.navbar {
  border-radius : 0px;
  border-width : 0px;
}
.continent-card{
  border-width : 0px;
  margin-bottom: 50px;
}
.titre-continent{
  margin-bottom: 30px;
}
.link-pays, .link-pays:hover{
  text-decoration: none;
}
