<div class="col-lg-12">
  <h1>{{plat.nom_plat}}</h1>
</div>

  <div class="col-md-6 float-left">
    <h1>Ingrédients (listBox)</h1>
  <p>{{plat.ingredient_plat}}</p>
  </div>
  <div class="col-md-6">
    <h1>Recette</h1>
    <p>{{plat.recette_plat}}</p>
  </div>



